# Gradle
.gradle/
build/
**/build/

# Android/NDK
.cxx/
local.properties

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# VS Code (если вдруг)
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Log files
*.log

# Misc
captures/

